<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user.blank? %>
    <a href="/users/sign_up">注册</a>
    <a href="/users/sign_in">登录</a>
  <% else %>
    <a href="/users/<%= current_user.id %>"><%= current_user.email %></a>
    <a href="/users/sign_out" data-method="delete">退出</a>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
